/* reset */
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
button {
    border: initial; /* or none */
    background-color: initial; /*or transparent*/
    color: initial;
    font: inherit;
    outline: none; /*make sure there is visual indicator for focus state*/
}

/* keyframes */
@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade-in-from-left {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* base styles */
.app {
    font-family: "Times New Roman", Times, serif;
    height: 100vh;
    width: 100vw;
    color: #fff;
    font-size: 15px;
}

.app__container {
    height: calc(100vh - 55px);
    display: flex;
}

/* styles */
.header {
    background-image: linear-gradient(to right, #18a0be, #622db9);
    display: flex;
    height: 55px;
}

.logo {
    align-self: center;
    margin: 0 20px;
    animation: fade-in-from-top 1s;
}

.dd-toggle {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 13px;
    cursor: pointer;
    transition: all 0.5s;
    animation: fade-in-from-top 1s;
}
.dd-toggle:hover,
.dd-toggle:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:nth-of-type(4) {
    margin-left: auto;
}

.dd-toggle:last-child {
    display: flex;
    align-items: center;
}
.dd-toggle__icon {
}

.dd-toggle__img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.dd-toggle__text {
}

/* ------------------------------- */

.sidebar {
    background-color: #10171a;
    flex-basis: 75px;
}

.menu {
}

.menu__button {
    padding: 19px 0;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    animation: fade-in-from-left 0.5s;
}

.menu__button:hover,
.menu__button:focus {
    background-color: #28363b;
    color: #fff;
    cursor: pointer;
}

.menu__button--active {
    background-color: #2b363b;
    color: #fff;
    position: relative;
}

.menu__button--active::before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #375bb6;
    position: absolute;
    top: 0;
    left: 0;
}

.menu__icon {
    font-size: 18px;
}

.menu__text {
    font-weight: 500;
    font-size: 12px;
}

/* ------------------------------- */

.panel {
    background-color: #2b363c;
    flex-basis: 250px;
}

/* ------------------------------- */

.main {
    background-color: #edf1f3;
    flex: 1;
}
